# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

#custom ignore files


# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Coverage directory used by tools like istanbul
coverage/

# TypeScript cache
*.tsbuildinfo

# Optional stylelint cache
.stylelintcache

# Android build files
frontend/android/app/build/
frontend/android/build/
frontend/android/.gradle/
frontend/android/.idea/
frontend/android/local.properties
frontend/android/gradlew
frontend/android/gradle-wrapper.properties
frontend/android/settings.gradle
frontend/android/app/build.gradle
